Exercise 1:

In [13]:
x = 964
y = 892

In [15]:
print("The difference between 964 and 892 is", x - y)

The difference between 964 and 892 is 72

Exercise 2:

In [112]:
x = "Samantha"
y = "Bella"
if y < x:

  print("The name Bella is shorter than Samantha by 3 characters")

The name Bella is shorter than Samantha by 3 characters

Exercise 3:

In [95]:
tone_of_voice = {"SAMANTHA": "Shouting", "Samantha":"Normal","samantha":"Whispering"}

In [96]:
tone_of_voice["SAMANTHA"]

'Shouting'

In [97]:
tone_of_voice["samantha"]

'Whispering'

In [109]:
tone_of_voice["Samantha"]

'Normal'

This one is the user input though:

In [41]:
Name = input("Type your name in all caps: ")
print(Name + " = Shouting")

Name = input("Type your name in lowercase: ")
print(Name + " = Whispering")

Name = input("Type your name Normally: ")
print(Name + " = Normal")

Type your name in all caps: ALONDRA
ALONDRA = Shouting
Type your name in lowercase: alondra
alondra = Whispering
Type your name Normally: Alondra
Alondra = Normal

Exercise 4:

In [135]:
Add = (56 + 76)
print("The result is: ", Add)

The result is:  132

In [138]:
Subtract = (89283 - 65273)
print("The result is ", Subtract)

The result is  24010

In [139]:
Multiply = (89 * 56)
print("The result is ", Multiply)

The result is  4984

In [141]:
Divide = (67 / 2)
print("The result is ", Divide)

The result is  33.5

This is function method though:

In [16]:
def add(a,b):
  sum = a + b
  return sum;

add1=67
add2=78
print("The sum is", add(add1,add2))

The sum is 145

In [17]:
def subtract(a,b):
  sub = a - b
  return sub;

subtract1=97
subtract2=25
print("The subtraction is", subtract(subtract1,subtract2))

The subtraction is 72

In [18]:
def multiply(a,b):
  mul = a * b
  return mul;

multiply1=298
multiply2=473
print("The product is", multiply(multiply1,multiply2))

The product is 140954

In [20]:
def divide(a,b):
  div = a / b
  return div;

divide1=382
divide2=37
print("The quotient is", divide(divide1,divide2))

The quotient is 10.324324324324325

Exercise 5:

**Karen Alondra's Multiplication Calculator 2.0 First Edition**

In [43]:
def multiply(a,b):
    mul = a * b;
    return mul;

num1=int(input("input the first number: "))
num2=int(input("input the second number: "))
print("The product of",num1,"*", num2,"=", multiply(num1,num2))

input the first number: 45829472
input the second number: 43789475
The product of 45829472 * 43789475 = 2006848518407200